body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.display-table-header{
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: rgb(68, 116, 155);
    color: beige;
}

.display-table{
    display: block;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(68, 116, 155);
    margin-top: 2%;
    box-shadow: 5px 5px 10px rgb(55, 176, 206) ;

}

.actionButton{
    padding: 5px;
    background-color: rgb(68, 116, 155);
    border-radius: 50px;
    border: none;
    box-shadow: 5px 5px 10px rgb(55, 176, 206);
    transition: 0.15s;
}
.actionButton:hover{
    opacity: 0.5;
}
.actionButton:active{
    color: azure;
    background-color: rgb(3, 18, 31);
}

table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

th, td {
    border: 1px solid rgb(68, 116, 155);
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: rgb(68, 116, 155);
}